<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
<div class="banner">
  <div class="jumbotron">
    <h1 class="highlight">FIN-Learning ist eine Mentoring Plattform für Studenten</h1>
    <h6 class="font-weight-normal text-muted pb-3">Finde Mentoren oder erreiche einen HighScore in einem spannenden
      Quiz</h6>
    <img src="../../assets/img/landing-page-images/Group171.svg" alt="" class="img-fluid">
  </div>
</div>


<div class="content-wrapper">
  <div class="container">
    <h2 style="text-align: center; padding-bottom: 25px;">Unser Angebot</h2>
    <section class="digital-marketing-service" id="digital-marketing-section">
      <div class="row align-items-center">
        <div class="col-12 col-lg-7 grid-margin grid-margin-lg-0" data-aos="fade-right">
          <h3 class="m-0">Du benötigst Hilfe während deines<br>Studiums?</h3>
          <div class="col-lg-7 col-xl-6 p-0">
            <p class="py-4 m-0 text-muted">Mit FIN-Learning kannst du einfach und kostenlos mit Mentoren chatten.</p>
            <p class="font-weight-medium text-muted">Suche einfach das Fach aus, für das du Hilfe benötigst.</p>
          </div>
        </div>
        <div class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
          <img src="../../assets/img/FinLearning_Mentor_searching.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-lg-7 flex-item grid-margin" data-aos="fade-right" style="margin-bottom: 50px;">
          <img src="../../assets/img/FinLearning_Mentor_offering.png" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
          <h3 class="m-0">Einfaches Anbieten von Mentoring</h3>
          <div class="col-lg-9 col-xl-8 p-0">
            <p class="py-4 m-0 text-muted">Schreibst du gute Noten im Studium und möchtest dein Wissen gerne mit
              anderen teilen?</p>
            <p class="pb-2 font-weight-medium text-muted">Bei FIN-Learning kannst du einfach und unverbindlich als
              Mentor anderen Studenten Hilfe anbieten</p>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-lg-7 grid-margin grid-margin-lg-0" data-aos="fade-right">
          <h3 class="m-0">Quizze erhöhen deine Lerneffizienz</h3>
          <div class="col-lg-7 col-xl-6 p-0">
            <p class="py-4 m-0 text-muted">Mit FIN-Learning kannst dein Wissen in verschiedenen Quizzen testen</p>
          </div>
        </div>
        <div class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
          <img src="../../assets/img/FinLearning_Quiz.png" alt="" class="img-fluid"
               style="border-radius: 5px; margin-bottom: 50px;">
        </div>
      </div>
    </section>
    <section class="case-studies" id="case-studies-section">

      <div class="card-details text-center pt-4">
        <h4 class="m-0 pb-1">Chatte mit Mentoren</h4>
      </div>
      <div class="col-12 col-md-12 col-lg-12 mb-12 stretch-card" data-aos="zoom-in">
        <div class="card-body p-0">
          <div class="bg-success text-center card-contents">
            <div class="card-image" style="background-color: #e3e3e3;">
              <img src="../../assets/img/FinLearning_Chat.png" style="width: 99%">
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</div>
</body>
